@font-face {
  font-family: Lato;
  src: url(../fonts/fontawesome-webfont.woff);
}

.right{
  float: right;
}

.homeLbl{
  color: rgb(97, 97, 97);
    text-decoration: none;
    font-size: 17px;
    font-family: "Source Sans Pro";
    text-decoration: none;
}

.homeLbl:focus, .homeLbl:hover{
    text-decoration: none;
}

.homeDiv{
  padding: 15px;
}

.registerBtn{
  background-color: rgb(3, 169, 244);
    border: 1px solid rgb(2, 198, 115);
    border-radius: 5px;
    box-shadow: rgb(51, 51, 51) 0px 5px 5px -5px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    transform: translateZ(0px);
    position: absolute;
    width: 112px;
    height: 32px;
    font-family: "Source Sans Pro";
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    font-size: 17px;
    padding: 3px;
    color: rgb(255, 255, 255);
}

.registerBtn:focus, .registerBtn:hover{
  color: rgb(255, 255, 255);
    text-decoration: none;
}

.inputElement{
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    font-weight: normal;
    transform: translateZ(0px);
    line-height: 43px;
    top: 8px;
    left: 8px;
    user-select: none;
    font-family: Lato;
    font-style: normal;
    text-decoration: none;
    font-size: 12px;
    color: rgb(158, 158, 158);
    box-shadow: rgb(224, 224, 224) 0px 2px 3px 0px;
}

.enterPriseform{
    transform: rotate(0deg);
    box-sizing: border-box;
    padding: 0px;
    margin: 0 auto;
    width: 70%;
    background: rgb(255, 255, 255);
    position: absolute;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 0px;
    box-shadow: rgb(224, 224, 224) 0px 0px 2px 1px;
}

.formElements{
    padding: 25px;
}

h3{
    text-align: center;
    font-size: 29px;
    font-family: "Source Sans Pro";
    color: rgb(3, 169, 244);
}

h2{
    text-align: center;
    overflow-wrap: break-word;
    font-size: 16px;
    color: rgb(158, 158, 158);
    font-family: "Source Sans Pro";
}

.h1_letter{
    padding: 5px;
    margin: 0px;
    color: rgb(117, 117, 117);
    font-family: "Source Sans Pro";
    text-align: center;
    font-size: 29px;
    letter-spacing: normal;
}

.enterPriseSignup{
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    font-size: 12px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background: rgb(3, 169, 244);
    position: absolute;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 0px;
    box-shadow: rgba(189, 189, 189, 0.3) 0px 9px 5px 0px;
    width: 500px;
    height: 39px;
}

strong{
    color: rgb(107, 173, 222);
}

p{
    color: rgb(158, 158, 158);
    font-family: "Source Sans Pro";
    font-size: 16px;
    text-align: center;
}

.break{
  text-align: center;
}

.lefthr{
  float: left; 
  left: 100px; 
  top: 10px; 
  width: 250px; 
  margin-top: 10px;
}

.righthr{
  float: right; 
  left: 400px; 
  top: 10px; 
  width: 265px; 
  margin-top: 10px;
}

/*.container { width: 90%; text-align: center; margin: auto;}
background: #121212;*/

p{
  font-family: "Source Sans Pro";
  font-size: 17px;
}

.pad50{
  padding-top: 10px;
}

.button {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding-right: 30px;
  padding-left: 40px;
  position: relative;
  /*background-color:rgb(0,0,0);*/
  color:rgb(255,255,255);
  text-decoration: none;
  text-transform: none
  letter-spacing: 1px;
  margin-bottom: 14px;
  /*text-shadow:1px 1px 0px rgba(0,0,0,0.5);*/
  border: 1px solid rgba(0,0,0,0.15);
}

.button:hover{
  text-decoration: none;
  text-shadow: none;
}

.button p{font-size: 13px;}
.button span {
  position: absolute;
  left: 0;
  width: 50px;
  font-size:24px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  /*border-right: 1px solid  rgba(0,0,0,0.15);*/
  text-decoration: none;
}

.button.twitter {
  background: #00acee;
}

.button.facebook {
 background: #fff;
}

.button.google-plus{
  background: #db4a39;
}

.button.linkedin {
  background: #fff;
}

.button.youtube {
 background: #c4302b;
}

.button.github{
  background: #171515;
}

.button.android {
  background: #a4c639;
}

.button.skype {
 background: #00aff0;
 }

.button.dropbox{
  background: #3d9ae8;
}

.button.foursquare{
  background: #25a0ca;
}

.button.apple{
  background: #cdcdcd;
}

.button.dribbble{
  background: #ea4c89;
}

.button.instagram{
  background: #3f729b;
}

.button.pinterest{
  background: #c8232c;
}

.button.stackexchange{
  background: #ef8236;
}

.button.flickr{
  background: #ff0084;
}

.text-center{
  text-align: center;
}

.google, .google:hover{
  color: red;
}

.facebook, .facebook:hover{
  color: #3b5998;
}

.linkedin, .linkedin:hover{
  color: #0e76a8;
}

.forgot-header{
  font-family: "Source Sans Pro";
  font-size: 29px;
  text-align: left;
  color: #5dbbed;
}

@media(max-width: 1280px){
    .right a{
        font-size:13px;
        font-weight:normal;
    }
    .registerBtn{
        padding: 6px;
    }
}

@media(max-width: 1080px){
    .registerBtn{
        padding: 6px;
    }
    .left{
        float: left;
    }
    .right {
        float: right;
        display: flex;
        margin: 1rem 10% 4%;
    }
}

@media(max-width: 1024px){
    .right{
        margin: 0;
    }
}

@media(max-width: 980px){
    .right{
        margin: 1rem 10% 4%;
    }
}

@media(max-width: 580px){
    .left{
        float: none;
        text-align: center;
    }
    .right {
        float: none;
        width: auto;
        display: flex;
        margin: 8% 0;
        justify-content: flex-end;
    }
    .registerBtn {
        background-color: rgb(3, 169, 244);
        border: 1px solid rgb(2, 198, 115);
        border-radius: 5px;
        box-shadow: rgb(51, 51, 51) 0px 5px 5px -5px;
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
        transform: translateZ(0px);
        position: absolute !important;
        width: 100px !important;
        top: 160% !important;
        left: -50px !important;
        margin-left: -80px !important;
        height: 32px;
        font-family: "Source Sans Pro";
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        font-size: 17px;
        padding: 3px;
        color: rgb(255, 255, 255);
    }
    .homeDiv {
        margin: 5% 0 10%;
    }
}