body{
	background-color: #fbfbfb;
}
.container {
	background-color: #ffffff;
	box-shadow: 0px 2px;
	border: 2px solid #e0e0e0;
  font-family: "Trebuchet MS", Verdana, sans-serif;
}
hr {
  display: block;
  height: 2px;
  border: 0;
	border-top: 2px solid #ccc;
	margin-bottom: 50px;
	margin-top: 50px;
  margin-left: 3em 2;
	padding: 0;
	width: 90%;
}
p{
	position: absolute;
  left: 75px;
}
.grid-container {
  display: grid;
  grid-template-columns: 500px 500px;
  justify-content: space-evenly;
  grid-gap: 30px;
  align-self: center;
}

/* FORM */
/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 80%;
  padding: 5px;
  border: 1px solid #9e9e9e;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
/* Style buttons */
button{
  padding: 12px;
  border: 1px solid #9e9e9e;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  float: left;
  margin-top: 10px;
}
/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 50px;
  display: inline-block;
}
/* Style the container */
.container {
  border-radius: 0px;
  background-color: #ffffff;
  padding: 30px;
  font-size: 14px;
}
/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 20%;
  margin-top: 10px;
}
.col-50 {
  float: left;
  width: 25%;
  margin-top: 10px;
}
/* Floating column for inputs: 75% width */
.col-75 {
  float: right;
  width: 75%;
  margin-top: 10px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.trustpeople {
  width: 255px;
  height: 90px;
}
nav{
  background-color: #ffffff;
}
#date{
  width:200px; 
  margin: 0 20px 20px 0;
}
#date > span:hover{
  cursor: pointer;
}
label{
  margin-left: 20px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}